@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,401,500,700,701&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;

    background-image: url('/v.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    background-color: black;
}

#pri-btn {
    &:hover {
        outline-offset: 2.5px;
        outline: 3px solid #cccccc94;
        transition: all .09s ease-in-out;
    }
}

#sec-btn {
    &:hover {
        border: 1px solid #ccc;
        outline: 3px solid #cccccc94;
        transition: all .09s ease-in-out;
    }
}
